body{
    background-color: #B8B8B8;
    margin: 0;
    padding: 0;
}
div{
    border: 1px solid rgb(0, 0, 0);
}
a, a:hover{
    text-decoration: none;
    color: black;
}

table, tr, th, td{
    margin: 1%;
    padding: 1em;
    border-collapse: collapse;
    border: 1px solid black;
}

.gras{
    color: red;
}


.gras:hover{

    text-decoration: line-through;
}